{% macro form(articleId = null, parentId = null, avatar, display = 'none') %}
    <form id="form_{{ articleId ?? parentId }}" method="post" action="{{ path('create_comment') }}" style="display: {{ display }}">
        <input type="hidden" name="article_id" value="{{ articleId }}">
        <input type="hidden" name="parent_id" value="{{ parentId }}">
        <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-start">
                <img class="rounded-circle" src="{{ avatar }}" width="40" />
                <textarea name="message"  class="form-control ml-1 shadow-none textarea"></textarea>
            </div>
            <div class="mt-2 text-right">
                <button class="btn btn-primary btn-sm shadow-none" type="button" onclick="sendComment('{{ articleId ?? parentId }}')">Envoyer</button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro display(comment, is_authenticated_user, avatar) %}
    <div class="media  mt-4">
        <img style="width: 60px;height: 60px;" class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="{{ comment.image }}" />
        <div class="media-body">
            <div class="row">
                <div class="col-10 d-flex">
                    <h5>{{ '  -' ~ comment.author }}</h5>
                    <span> {{ '  -' ~ comment.date }}</span>
                    {% if is_authenticated_user %}
                        <a  style="text-decoration: none;" href="javascript:showForm('{{ comment.id }}')"><span><i class="fa fa-reply"></i> Répondre</span></a>
                    {% endif %}
                </div>
            </div>
            {{ comment.message }}
            {% if is_authenticated_user %}
                <div>
                    {{ _self.form(null, comment.id, avatar) }}
                </div>
            {% endif %}
            {% for comment in comment.children %}
                {{ _self.display(comment) }}
            {% endfor %}

        </div>

    </div>
{% endmacro %}